__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
*.log
*.yoink_clipboard.json
*.yoink_history.json
.yoink_bak/
